


<div class="row">    
    <img id="rsiAsciiImage" src="@Url.Content("~/Content/Images/RSIascii.png")" />
</div>


<div class="jumbotron">
    <h1>Welcome to the Hackathon Retro Store!</h1>
    
</div>

<style>
    #rsiAsciiImage{
        height: 50%;
        width: 50%;
        /*margin-left: -150px;*/
        margin-top: 30px;
    }

    .jumbotron{
        margin-top: 30px;
    }
</style>